/* CSS External Style Sheet 
 * Peter, Rama, and Juniper 
 * Source Control 
 * Assignment #3
*/
* {
  box-sizing: content-box;
}

body {
    background-color: brown;
    padding: 0;
    margin: 0;
}

.scale-img {
    height: 150px;
}

.flex-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

nav {
    text-align: center;
    margin: auto;
}



ul {
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

.text-center {
    text-align: center;
}

.padding-bottom {
    padding-bottom: 2em;
}

.buy-now-btn {
    border: solid black 2px;
    padding: 1em;
    font-size: 20px;
    background-color: aliceblue;
    font-family: sans-serif;

}

li a {
    color: aliceblue;
    border: solid black 2px;
    padding: 0.5em 1em;
    background-color: black;
    font-family: sans-serif;
}

footer {
    background-color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
